<div class="container">
    <mat-grid-list cols="1" rowHeight="3:1">
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>            
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" >
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Password">
                            </mat-form-field>  
                            <button mat-button color="accent">Login</button>            
                        </form>
                        <a mat-button routerLink="/register" color="warn">New Registration</a>            
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
   
</div>